/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */
.wrapper {
	position:relative;
	display:block;
	float:none;
	clear:both;
	margin:0 auto;
	width:100%;
	height:100%;
	background-image:url(http://images.rockinguitarlessons.com/grunge-pattern.png);
	background-repeat:repeat;
}

.killer-header {
	position:relative;
	display:block;
	float:none;
	margin:0 auto;
	padding-left: 5%;
	max-width:1280px;
	width:100%;
	height:auto;
	background-color: transparent;
}

.body-wrap {
	position:relative;
	display:block;
	float:none;
	margin:0 auto;
	max-width:1280px;
	width:100%;
	height:100%;
	border-right:2px ridge rgba(0,0,0,0.1);
	border-left:2px ridge rgba(0,0,0,0.1);
	background-color: transparent;
	
}

.texture-splash {
	position:relative;
	display:block;
	float:none;
	overflow:hidden;
	margin-left:0;
	padding-top:1.2em;
	padding-top:18px;
	max-width:1920px;
	width:100%;
	height:768px;
	background-color:transparent;
	background-image:url(http://images.rockinguitarlessons.com/header-wrap-1920.png);
	background-position:center top;
	background-repeat:no-repeat;

}

#uber-menu {
	position:relative;
	float:right;
	padding-top: 1.5em;
	padding-top: 24px;
	padding-right: .5em;
	padding-right: 8px;
	display: inline-block;
	width: 100%;
	max-width: 700px;
	height: auto;
	margin-left: 1.25em;
	margin-left: 20px;
}

.logo-box {
	position:relative;
	float:left;
	max-width:590px;
	width:100%;
	height:140px;
	margin: .5em 0 1em 1em;
	margin: 8px 0 16px 16px;
	display: inline-block;
	
}

.logo {
	position:relative;
	float:none;
	max-width:390px;
	height:140px;
	width: 100%;
	margin: .5em 0 1em 1em;
	margin: 8px 0 16px 16px;
	display: inline-block;

}

.shadow {
	position:relative;
	clear: both;
	display:block;
	float:left;
	margin:0 auto;
	width:1920px;
	height:25px;
	overflow: hidden;
}